:root {
  --color-active: cadetblue;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4px;
  background-color: aquamarine;
}

.posts {
  text-align: left;
  margin-left: 20px;
}

.navigation > a {
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-height: 300px;
  text-align: center;
}

.wrapper {
  border: 3px solid black;
  width: 700px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  text-align: center;
  font-size: 25px;
}